@use './variables' as v;
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0;
  gap: 100px;
  min-height: calc(80vh - 80px);

  .text {
    flex: 5;
    p {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 20px;
      line-height: 1.5;

      a {
        transition: all 0.2s ease;
        &:hover {
          color: v.$text-color;
        }
      }
    }
    h2 {
      font-size: 4rem;
    }
    .links {
      margin-top: 25px;

      a {
        display: inline-block;
        padding: 10px 10px;
        border: 1px solid v.$link-color;
        border-radius: 5px;
        margin-right: 10px;
        transition: all 0.2s ease;
        font-size: 1.2rem;

        &:hover {
          color: v.$text-color;
          border: 1px solid v.$text-color;
        }
      }
    }
  }

  .headshot {
    flex: 2;

    img {
      width: 400px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 850px) {
  .headshot {
    display: none;
  }
}
