@use './variables' as v;
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 2px;
  gap: 100px;
  min-height: calc(100vh - 200px);
  margin-bottom: 50px;

  .text {
    flex: 5;
    p {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 20px;
      line-height: 1.5;

      a {
        transition: all 0.2s ease;
        &:hover {
          color: v.$text-color;
        }
      }
    }
    h2 {
      font-size: 4rem;
    }
    .links {
      margin-top: 25px;

      a {
        display: inline-block;
        padding: 10px 10px;
        border: 1px solid v.$link-color;
        border-radius: 5px;
        margin-right: 10px;
        transition: all 0.2s ease;
        font-size: 1.2rem;

        &:hover {
          color: v.$text-color;
          border: 1px solid v.$text-color;
        }
      }
    }
  }

  .headshot {
    flex: 2;

    img {
      width: 400px;
      border-radius: 50%;
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: v.$link-color;
  animation: bounce 2s infinite;
  cursor: pointer;
  z-index: 10;

  &:hover {
    color: v.$text-color;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

@media (max-width: 850px) {
  .headshot,
  .scroll-down {
    display: none;
  }
  .links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    a {
      font-size: 1rem;
      padding: 8px;
      width: 80%;
      max-width: 300px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .hero-section {
    .text {
      h2 {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}
