@use './variables.scss' as v;
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  .left a {
    color: v.$text-color;
    transition: all 0.2s ease;

    &:hover {
      color: v.$link-color;
    }
  }

  .right a {
    font-weight: 300;
    color: v.$text-color;
    font-size: 1.4rem;
    margin: 0 10px;
    transition: all 0.2s ease;

    &:hover {
      color: v.$link-color;
    }
  }
}

nav .right a:last-child {
  color: #fff;
  background-color: v.$text-color;
  padding: 5px 15px;
  border-radius: 5px;

  &:hover {
    background-color: v.$link-color;
  }
}

nav .right a span {
  margin-left: 5px;
}

@media (max-width: 720px) {
  nav {
    .right a {
      font-size: 1.8rem;
    }

    .right a:last-child {
      color: v.$text-color;
      background-color: transparent;
      padding: 0;
    }
    .right span {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .right {
    display: none;
  }
}
