@use './variables';

.skills-section {
  min-height: 300px;
  margin-bottom: 50px;
  padding: 20px;
  p {
    font-size: 1rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;

    .cell {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      padding: 20px 20px;
      margin: 10px;
      border: 1px solid #a09f9f;
      border-radius: 5px;
      gap: 20px;

      span {
        font-size: 1.2rem;
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 600px) {
  .skills-section {
    padding: 0;

    .cells {
      padding: 0;
    }
  }
}
