@use './base';
@use './variables' as v;
@use './navbar';
@use './hero';
@use './skills';

body {
  background-color: v.$bg-color;
}

a {
  color: v.$link-color;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: 'Bricolage Grotesque', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
